<h2>Show resource</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @resource.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @resource.url %>
  </li>

  <li>
    <strong>Tags:</strong>
    <%= Enum.join(@resource.tags, ", ") %>
  </li>

</ul>

<%= link "Edit", to: resource_path(@conn, :edit, @resource) %>
<%= link "Back", to: resource_path(@conn, :index) %>
